<%# app/views/tasks/edit.html.erb %>
<div class="card shadow-sm">
  <div class="card-header bg-light p-3">
    <h4 class="mb-0">
      <i class="fas fa-edit me-2"></i>
      Edit Task
    </h4>
  </div>
  <div class="card-body p-4">
    <%= render 'tasks/edit/form' %>
  </div>
</div>